<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTR97xtux7qSUzaEtR_8gcgkAnvXBlVGk</string>
	<key>GCM_SENDER_ID</key>
	<string>665078535093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammaratech.ammaramart</string>
	<key>PROJECT_ID</key>
	<string>ammaramart-d7fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>ammaramart-d7fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665078535093:ios:ff4d055bd59dafabd37ffc</string>
</dict>
</plist>